body{
  background-image: url(http://4.bp.blogspot.com/-y-SZ4zEZfOo/VogxoVnQ5lI/AAAAAAAAAnw/FfR57zTIcP8/s1600/IMG_5956.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    color: Orange;
    font-family: "Amethyst";
    font-size: 69px;
    text-align: center;
  }
  #pipes{
    padding-top: 1em;
  }
  #big{
    font-size: 20px;
  }
  #smaller{
    font-size: 12px;
  }
  .thumbNail {
    height: 120px;
  }
  .well{
    padding-left: 2.5em;
    p{
      font-weight:bold;
    }
    .small{
      font-size: 12px;
    }
    .album-image{
      height: 220px;
      padding: 0px 0px 2em 0px;
    }
    .center-button{
      text-align: center;
    }
  }
}
