body{
  background-image: url(http://4.bp.blogspot.com/-y-SZ4zEZfOo/VogxoVnQ5lI/AAAAAAAAAnw/FfR57zTIcP8/s1600/IMG_5956.JPG);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    margin-top: 60px;
    color: Orange;
    font-family: "Amethyst";
    font-size: 69px;
    text-align: center;
  }
  .cd-info{
    height: 170px;
  }
  .dropdown-inverse{
    background-color: #222;
    border-color: #080808;
    &>li>a{
      color: #999;
      &:hover{
        color: #fff;
        background-color: #000;
      }
    }
    &>.divider {
      background-color: #000;
    }
  }
  .modal-header, .modal-body, .modal-footer{
    background-color: #526666;
    border-color: #16a3a3;
    .btn{
      border-color: #16a3a3;
      background-color: #333;
      color: #FFF;
      &:hover{
        background-color: Orange;
      }
    }
    #checkout{
      background-color: #919191;
      &:hover{
        background-color: Orange;
      }
    }
  }
  .modal-title{
    font-size: 4em;
    font-family: 'Bowlby One', cursive;
  }
  #pipes{
    padding-top: 1em;
  }
  #big{
    font-size: 20px;
  }
  #smaller{
    font-size: 12px;
  }
  .artistFont {
    font-family: 'Monoton', cursive;
    font-size: 1.5em;
  }
  .albumFont {
    font-family: 'Rammetto One', cursive;
    font-size: 1em;
  }
  .genreFont {
    font-family: 'Plaster', cursive;
    font-size: 1em;
  }
  .thumbNail {
    height: 120px;
  }
  .well{
    padding-left: 2.5em;
    background-color: #526666;
    border-color: #16a3a3;
    p{
      font-weight:bold;
    }
    .small{
      font-size: 12px;
    }
    .album-image{
      height: 220px;
      padding: 0px 0px 2em 0px;
    }
    .center-button{
      text-align: center;
      .btn{
        border-color: #16a3a3;
        background-color: #333;
        color: #FFF;
        &:hover{
          background-color: Orange;
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    h1 {
      margin-top: 120px;
      font-size: 35px;
    }
    .well{
      text-align: center;
      font-size: 20px;
      .album-image{
        height: 400px;
      }
    }
  }
  @media screen and (max-width: 1199px) and (min-width: 992px) {
    h1 {
      font-size: 50px;
    }
    .well{
      font-size: 12px;
      .album-image{
        height: 170px;
      }
    }
  }
}
