body{
  background-color: Black;
  h1 {
    color: Orange;
    font-family: "Amethyst";
    font-size: 50px;
    text-align: center;
  }
  #pipes{
    padding-top: 1em;
  }
  .well{
    padding-left: 2.5em;
    p{
      font-weight:bold;
    }
    .album-image{
      height: 220px;
      padding: 0px 0px 2em 0px;
    }
    .center-button{
      text-align: center;
    }
  }
}
